{% extends '_layout.twig' %}

{% set breadcrumbs = [
    craft.entries.section('repairStoriesOverview').one(),
    entry,
] %}

{% block seo %}
	{% set meta = entry.seo %}
	<title>{{ meta.getPageTitle(entry) }}</title>
	<meta name="description" content="{{ meta.getMetaDescription() }}">
	{# Facebook #}
	<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{{ meta.getOgTitle(entry) }}"/>
	{% set ogImage = meta.getOgImage(meta.facebookImage|length ? craft.assets.id(meta.facebookImage[0]).one() : entry.overviewImage.one() ?? entry.mainImage.one() ?? null) %}
	{% if ogImage %}
		<meta property="og:image" content="{{ ogImage.url }}"/>
		<meta property="og:image:width" content="{{ ogImage.width }}"/>
		<meta property="og:image:height" content="{{ ogImage.height }}"/>
		<meta property="og:image:alt" content="{{ ogImage.alt }}"/>
	{% endif %}
	<meta property="og:description" content="{{ meta.getOgDescription() }}"/>
	<meta property="og:site_name" content=""/>
	<meta property="og:locale" content="{{ currentSite.language }}"/>
	{# Twitter #}
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="" />
	<meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}" />
	<meta name="twitter:title" content="{{ meta.getTwitterTitle(entry) }}" />
	<meta name="twitter:description" content="{{ meta.getTwitterDescription() }}" />
	{% if ogImage %}
		<meta name="twitter:image" content="{{ meta.getTwitterImage().url ?? ogImage.url }}" />
	{% endif %}

	<link rel="canonical" href="{{ entry.getUrl()  }}" />
	{% for alt in meta.getAlternate(entry) %}
		<link rel="alternate" hreflang="{{ alt.language }}" href="{{ alt.url }}" />
	{% endfor %}
{% endblock %}

{% block content %}
	<div class="section section--light">
		<div class="container">
			<div class="w-full mx-auto md:w-4/5 lg:w-2/3">
				{% include ['_snippet/_content/_pageTitle/_' ~ currentSite.handle ~'.twig', '_snippet/_content/_pageTitle/_default.twig'] %}

				<div class="flex flex-wrap items-center mb-5">
					{% if entry.firstName|length %}
						{% if entry.profilePic|length %}
							{% set asset = entry.profilePic.one() %}
							{% do asset.setTransform({ width: 40, height: 40 }) %}
							{{ tag('img', {
							src: asset.url,
							width: asset.width,
							height: asset.height,
							srcset: asset.getSrcset(['1.5x', '2x', '3x']),
							alt: asset.title,
							class: "rounded-full mr-6"
						}) }}
						{% endif %}
						<span class="pr-6 mr-6 font-bold xs:border-r-1 border-divider">
							{{ entry.firstName }}
							{{ entry.lastName }}
						</span>
					{% else %}
						{% if entry.author.photo|length %}
							{% set asset = entry.author.photo %}
							{% do asset.setTransform({ width: 40, height: 40 }) %}
							{{ tag('img', {
							src: asset.url,
							width: asset.width,
							height: asset.height,
							srcset: asset.getSrcset(['1.5x', '2x', '3x']),
							alt: asset.title,
							class: "rounded-full mr-6"
						}) }}
						{% endif %}
						<span class="pr-6 mr-6 font-bold xs:border-r-1 border-divider">
							<a href="{{ siteUrl }}repair-heroes/{{ entry.author.uid }}" class="underline hover:no-underline">{{ entry.author }}</a>
						</span>
					{% endif %}
					<span class="block w-full ml-16 italic xs:w-auto xs:ml-0">
						{{ entry.postDate|date('d/m/Y'|t) }}
					</span>
				</div>
				<div class="mt-8">
					{% include ['_snippet/_content/_intro/_' ~ currentSite.handle ~'.twig', '_snippet/_content/_intro/_default.twig'] %}
				</div>
				<div class="mt-8">
					{% include '_snippet/_content/_socialShare/_default.twig' %}
				</div>
			</div>
		</div>
	</div>
	<div class="section section--default">
		<div class="container">
			<div class="w-full mx-auto md:w-4/5 lg:w-2/3 redactor">
				{{ entry.body }}
			</div>
		</div>
	</div>

	{% set images = entry.mainImage|merge(entry.additionalImage) %}
	{% set block = {image: images, id: entry.id} %}
	{% if images|length %}
		<div class="section section--default">
			<div class="container">
				{% include '_snippet/_content/_blocks/_image/_default.twig' %}
			</div>
		</div>
	{% endif %}

	<div class="section section--default">
		<div class="container">
			<div class="w-full mx-auto lg:w-2/3">
				<div class="relative overflow-hidden bg-light rounded-panel group">
					<div class="flex flex-wrap -mx-4">
						{% if entry.firstName|length %}
							{% if entry.profilePic|length %}
								<div class="flex w-full md:w-2/5 lg:w-1/3">
									{% set optimizedImage = entry.profilePic.one().optimizedOverview %}
									{% if optimizedImage|length %}
										<div class="w-full bg-center bg-cover js-bg-target aspect-ratio-16/9 md:aspect-ratio-square" style="background-position: {% for focalPoint in entry.profilePic.one().getFocalPoint() %} {{ focalPoint * 100 }}% {% endfor %};">
											<picture>
												{% if craft.imageOptimize.serverSupportsWebP() and entry.profilePic.one().extension != 'svg' %}
													<source data-srcset="{{ optimizedImage.srcsetWebP() }}" sizes="(max-width: 479px) 95vw, (min-width: 480px) and (max-width: 659px) 448px, (min-width: 660px) and (max-width: 819px) 628px, (min-width: 820px) and (max-width: 979px) 378px, (min-width: 980px) and (max-width: 1199px) 458px, (min-width: 1200px) 568px"
															type="image/webp"/>
												{% endif %}
												<img src="{{ optimizedImage.placeholderBox() }}" data-srcset="{{ optimizedImage.srcset() }}" sizes="(max-width: 479px) 95vw, (min-width: 480px) and (max-width: 659px) 448px, (min-width: 660px) and (max-width: 819px) 628px, (min-width: 820px) and (max-width: 979px) 378px, (min-width: 980px) and (max-width: 1199px) 458px, (min-width: 1200px) 568px"
													 alt="{{ entry.profilePic.one().imageCaption ?? entry.profilePic.one().title ?? entry.title }}"
													 class="lazyload js-bg-src"/>
											</picture>
											{% if entry.profilePic.one().imageCopyright|length %}
												<div class="mt-2 text-base">{{ entry.profilePic.imageCopyright }}</div>
											{% endif %}
										</div>
									{% endif %}
								</div>
							{% endif %}
							<div class="flex w-full md:w-3/5 lg:w-2/3">
								<div class="p-10 sm:py-8 sm:px-12">
									<h3 class="mb-1 text-primary">
										{{ entry.firstName }}
										{{ entry.lastName }}
									</h3>
									<div class="redactor">
										{{entry.bio}}
									</div>
								</div>
							</div>
						{% else %}
							{% if entry.author.photo|length %}
								<div class="flex w-full md:w-2/5 lg:w-1/3">
									{% set optimizedImage = entry.author.photo.optimizedTextImage %}
									<div class="w-full bg-center bg-cover js-bg-target aspect-ratio-16/9 md:aspect-ratio-square" style="background-position: {% for focalPoint in entry.author.photo.getFocalPoint() %} {{ focalPoint * 100 }}% {% endfor %};">
										<picture>
											{% if craft.imageOptimize.serverSupportsWebP() and entry.author.photo.extension != 'svg' %}
												<source data-srcset="{{ optimizedImage.srcsetWebP() }}"
														sizes="(max-width: 479px) 95vw, (min-width: 480px) and (max-width: 659px) 448px, (min-width: 660px) and (max-width: 819px) 628px, (min-width: 820px) and (max-width: 979px) 378px, (min-width: 980px) and (max-width: 1199px) 458px, (min-width: 1200px) 568px"
														type="image/webp"/>
											{% endif %}
											<img src="{{ optimizedImage.placeholderBox() }}" data-srcset="{{ optimizedImage.srcset() }}"
												 sizes="(max-width: 479px) 95vw, (min-width: 480px) and (max-width: 659px) 448px, (min-width: 660px) and (max-width: 819px) 628px, (min-width: 820px) and (max-width: 979px) 378px, (min-width: 980px) and (max-width: 1199px) 458px, (min-width: 1200px) 568px"
												 alt="{{ entry.author.photo.imageCaption ?? entry.author.photo.title ?? entry.title }}"
												 class="lazyload js-bg-src"/>
										</picture>
										{% if entry.author.photo.imageCopyright|length %}
											<div class="mt-2 text-base">{{ entry.author.photo.imageCopyright }}</div>
										{% endif %}
									</div>
								</div>
							{% endif %}
							<div class="flex w-full md:w-3/5 lg:w-2/3">
								<div class="p-10 sm:py-8 sm:px-12">
									<h3 class="mb-1 text-primary">
										<a href="{{ siteUrl }}repair-heroes/{{ entry.author.uid }}" class="link--extended hover:text-primary-hover hover:underline">{{ entry.author }}</a>
									</h3>
									<div class="mb-6 italic">{{ entry.author.function }}</div>
									<div class="redactor">
										{{entry.author.intro}}
									</div>
									<div class="mt-8 link link--ext group-hover:no-underline group-hover:text-primary-hover">{{"Lees meer"|t}}</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% set storyIds = craft.statik.getStories(entry.id, entry.author.id) %}
	{% if storyIds|length %}
		{% set stories = craft.entries.id(storyIds).fixedOrder('true').all() %}
		
		<div class="section section--light">
			<div class="container">
				<h2 class="text-center">{{ 'Meer repair stories'|t }}</h2>
				<div class="flex flex-wrap mt-8 -mx-3">
					{% for cardEntry in stories %}
						{% include "_snippet/_item/_card/_default.twig" with {showContrast: true} %}
					{% endfor %}
				</div>
				<div class="flex justify-center mt-10">
					<a class="btn btn--ghost btn--ext" href="{{ siteUrl }}repair-stories">{{ 'Bekijk alle repair stories'|t }}</a>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
