{% set baseUrl = craft.app.config.general.aliases.baseUrl %}
{% set city = craft.globals().getSetByHandle('siteInfo') %}
{% extends "_mail/_layout" %}

{# subject: Un nouveau héro de la réparation a été nommé sur {{ siteInfo.cityName }} #}
{# fromEmail: {{ craft.app.projectConfig.get('email.fromEmail') }} #}
{# fromName: {{ siteInfo.cityName }} #}
{# replyToEmail: {{ craft.app.projectConfig.get('email.fromEmail') }} #}
{# cc:  #}
{# bcc: #}
{# includeAttachments: true #}
{# presetAssets: 42,67 #}
{# description: #}

	{% block title %}
{{ 'Un nouveau héro de la réparation a été nommé sur'|t }} {{ city.cityName }}
{% endblock %}

	{% block content %}
		<p>
		{{ 'Bonjour'|t }},
	</p>
		<p>
	{{ 'Un nouveau héro de la réparation a été nommé sur'|t }} {{ city.cityName }}{{ '. Ils ont partagé les détails suivants:'|t }}
	</p>
		<ul>
			{% for field in allFields|filter(field => field.handle != 'terms' and field.handle != 'data') %}
				<li>
					<strong>
				{{ field.label }}
				</strong>
				<br>
			{{ field.getValueAsString() }}
		</li>
	{% endfor %}
	</ul>
		<p>
	{{ "Merci d'avoir contacté ce héros de la réparation, de l'avoir présenté à la communauté et d'avoir activé son compte."|t }}
</p>{% endblock %}
