{% extends "_mail/_layout" %}

{% block title %}
	{{ 'Un nouveau Repair Event a été soumis par '|t }}
	{{ user.firstName }}
	{{ user.lastName }}
{% endblock %}

{% block content %}
	<p>
		{{ 'Le event a details suivant:'|t }}
	</p>

	<ul>
		{% for key,value in event %}
			<li>
				<strong>
					{% switch key %}
						{% case "title" %}
							Titre de l'événement
						{% case "date" %}
							Date
						{% case "location" %}
							Lieu
						{% case "organisationName" %}
							Organisation
						{% case "organisationUrl" %}
							Organisation URL
						{% case "category" %}
							Catégorie de l'événement
						{% case "registerUrl" %}
							Lien pour le formulaire d'inscription
						{% case "infoUrl" %}
							Lien pour plus d'information
						{% case "intro" %}
							Introduction
						{% case "body" %}
							Body texte
					{% endswitch %}
				</strong>
				<br>
				{{ value|raw }}
			</li>
		{% endfor %}
	</ul>

	<p>
		{{ 'Veuillez revoir et publier ce event dès que possible.'|t }}
	</p>
{% endblock %}
